.section__education-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(36pt, 4.8vw, 4.8vw) clamp(45pt, 6vw, 6vw);
}

.section__education-column {
  width: clamp(168.75pt, 22.5vw, 22.5vw);
  display: flex;
  flex-direction: column;
  gap: clamp(24pt, 3.2vw, 3.2vw);
}

.section__education-column-heading {
  background-color: #2a2a2a;
  color: #f5b63f;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-block: clamp(7.5pt, 1vw, 1vw);
}

.section__education-button-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 700px) {
  .section__education-column {
    width: 100%;
  }
}
